

div.background{
    margin: 0 auto;
    padding: 10px 0;
    background-color: rgb(243, 243, 237);
    padding: 20px 0;
    
}

nav{
    background-color: rgb(36, 36, 36);
    max-width: var(--width);
    margin: 0 auto;
}

header ul.nav{
    justify-content: center;
    font-family: var(--font);
    align-items: center;
    margin: 0;
    padding: 0;
}

header li{
    list-style: none;
    padding: 25px 10px;
    font-size: 12px;
    list-style-type: none;
    transition: background-color 0.5s;

}

header li:hover {
    background-color: var(--first-collor);
}



header a.nav-item{
    text-decoration: none;
    color: white;
    padding: 25px 20px;
    font-family: var(--font);
    list-style-type: none;
}

header a.nav-item-first{
    text-decoration: none;
    color: white;
    padding: 25px 20px;
    font-family: svar(--font);
    list-style-type: none;
    transition: color 0.5s;
}

header a.nav-item-first:hover{
    color: var(--first-collor);
}



header li.li{
    background-color: var(--first-collor);
    padding: 25px 5px;
    transition: background-color 0.5s;
}

header li.li:hover{
    background-color: rgb(36, 36, 36);
    
}

