div.meet-full{
    margin-top: 50px;
    
}

div.meet{
    width: var(--width);
    margin: 0 auto;
}

div.meet-txt{

    font-family: var(--font);
    color: var(--font-color);
}

.meet-txt p{
    max-width: 500px;
}

div.Mark-W{
    font-family: var(--font);
    color: var(--font-color);
    margin-top: 50px;
}

div.screen-bg{
    padding: 5px;
    width: 25%;
}

div.screen{
    width: 100%;
    height: 400px;
    background-color: var(--box-color);
    transition: box-shadow 0.5s;
}

div.screen:hover{
    box-shadow: var(--shadow);
}

p.Up-txt{
    max-width: 600px;
}

.Up h3{
    
    font-size: 30px;
    margin-top: 0;
}

div.inform-colmn{
    justify-content: space-between;
    flex-direction: column;
    padding-left: 100px;
    max-width: 75%;
}

div.Up ul{
    list-style: none;
    justify-content: flex-start;
    max-width: 600px;
    align-items: flex-start;
    padding: 50px 0 0 0;
}

div.Up ul li{
    padding-right: 50px;
    font-style: italic;
}

div.Up ul li a{
    color: var(--font-color);
    transition: color 0.5s;
}

div.Up ul li a:hover {
    color: var(--first-collor);
}


div.Down{
    min-width: 820px;
    justify-content: space-between;
}


div.screen-block{
    width: 25%;
    padding: 5px;   
}

div.screen-block-content{
    height: 200px;
    background-color: var(--box-color);
    transition: box-shadow 0.5s;
}

div.screen-block-content:hover{
    box-shadow: var(--shadow);
}